// header
.header {
    display: grid;
    grid-template-columns: auto auto auto;
    align-content: center;
      
    &__image {
        width: 100%;
        grid-column-start: 2;
        grid-column-end: 3;        
    }
}

@media (max-width: 768px) {
    .header {
        &__image {
            width:100vw;
        }
    }
}